{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div>
        {%for trabalho in trabalhos%}
            <div class="row">
                <div class="col-3">
                    <div>
                        <span>Instituição:</span>
                        {{trabalho.instituicao}}
                    </div>
                    <div>
                        <span>Categoria:</span>
                        {{trabalho.categoria}}
                    </div>
                    <div>
                        <span>Data</span>
                        {{trabalho.dataInicio|date('d-m-Y')}} - {{trabalho.dataFim|date('d-m-Y')}}
                    </div>
                    <div>
                        <span>Período</span>
                        {{trabalho.periodo}}
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <span>Site:</span>
                        {{trabalho.site}}
                    </div>
                    <div>
                        <span>Cidade:</span>
                        {{trabalho.cidade}}
                    </div>
                    <div>
                        <span>Telefone</span>
                        {{trabalho.telefone}}
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <span>Email:</span>
                        {{trabalho.email}}
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>`
{% endblock %}
