{% extends 'base.html.twig' %}

{% block title %}Listagem de Trabalhos{% endblock %}

{% block body %}
    <h1>Listagem de Trabalhos Voluntários</h1><br>
    <div class="filtros">
        <div>
            <h5 data-toggle="collapse" data-target="#camposfiltro" aria-expanded="false" aria-controls="camposfiltro">Filtro
            <small style="float:right; font-size:11px"><br />Clique para mostrar/esconder</small>
            </h3>
            <hr />
            <form id="camposfiltro" action="{{ path('listagem_trabalho') }}" method="get" class="form-row collapse show align-items-center">
                <div class="col-sm-3 my-1">
                    <span>Cidade</span>
                    <select name="cidade" class="form-control">
                        <option value=""{% if request.cidade is not defined or request.cidade == '' %} selected="selected"{% endif %}> - Selecione - </option>
                        {% for cidade in cidades %}
                            <option value="{{ cidade.cidade }}"{% if request.cidade is defined and request.cidade == cidade.cidade %} selected="selected"{% endif %}>{{ cidade.cidade }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 my-1">
                    <span>Categoria</span>
                    <select name="categoria" class="form-control">
                        <option value=""{% if request.categoria is not defined or request.categoria == '' %} selected="selected"{% endif %}> - Selecione - </option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.categoria }}"{% if request.categoria is defined and request.categoria == categoria.categoria %} selected="selected"{% endif %}>{{ categoria.categoria }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 my-1">
                    <span>Data</span>
                    <input type="date" name="data" class="form-control" value="{{ request.data }}" />
                </div>
                <div class="col-sm-3 my-1">
                    <span>Texto</span>
                    <input type="text" name="texto" class="form-control" value="{{ request.texto }}" />
                </div>
                <div class="col-auto my-1 text-right">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div id="list-container">
        {%for trabalho in trabalhos%}
            <div class="block-trabalho">
                <div class="row">
                    <div class="col-sm-4">
                        <div>
                            <strong>Instituição:</strong>
                            {{trabalho.instituicao}}
                        </div>
                        {% if trabalho.periodo is defined and trabalho.periodo is not empty %}
                            <div>
                                <strong>Período:</strong>
                                {{ trabalho.periodo }}
                            </div>
                        {% endif %}
                        {% if (trabalho.dataInicio is defined and trabalho.dataInicio is not empty) or (trabalho.dataFim is defined and trabalho.dataFim is not empty)  %}
                            <div>
                                <strong>Data:</strong>
                                {% if trabalho.dataInicio is defined and trabalho.dataInicio is not empty %}
                                    <small>de</small> {{ trabalho.dataInicio|date('d/m/Y') }}
                                {% endif %}
                                {% if trabalho.dataFim is defined and trabalho.dataFim is not empty %}
                                    <br/>
                                    <small>até</small>
                                    {{trabalho.dataFim|date('d/m/Y')}}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-5">
                        {% if trabalho.site is defined and trabalho.site is not empty %}
                            <div>
                                <a href="{{trabalho.site}}" target="_blank" rel="nofollow">{{trabalho.site}}</a>
                            </div>
                        {% endif %}
                        <div>
                            <strong>Cidade:</strong>
                            {{trabalho.cidade}}
                        </div>
                        <div>
                            <strong>Email:</strong>
                            <a href="mailto:{{trabalho.email}}" target="_blank" rel="nofollow">{{trabalho.email}}</a>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div>
                            <strong>Categoria:</strong>
                            {{trabalho.categoria}}
                        </div>
                        {% if trabalho.telefone is defined and trabalho.telefone is not empty %}
                            <div>
                                <strong>Tel:</strong>
                                {{trabalho.telefone}}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div>{{trabalho.descricao}}</div>
            </div>
        {% endfor %}
        <br />
        Páginas: 
        {% if paginas > 0 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if request.pagina > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('listagem_trabalho', request|merge({'pagina': (request.pagina - 1)})) }}" tabindex="-1">&lt;</a>
                        </li>
                    {% endif %}
                    {% if (request.pagina - 2) <= 0 %}
                        {% set paginaInicial = 1 %}
                    {% else %}
                        {% set paginaInicial = (request.pagina - 2) %}
                    {% endif %}
                    {% if (request.pagina + 2) > paginas %}
                        {% set paginaFinal = paginas %}
                    {% else %}
                        {% set paginaFinal = (request.pagina + 2) %}
                    {% endif %}
                    {% for i in paginaInicial..paginaFinal %}
                        <li class="page-item{% if request.pagina == i %} active{% endif %}">
                            <a class="page-link" href="{{ path('listagem_trabalho', request|merge({'pagina': i})) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if request.pagina < paginas %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('listagem_trabalho', request|merge({'pagina': (request.pagina + 1)})) }}" tabindex="-1">&gt;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}