{% extends 'base.html.twig' %}

{% block title %}Listagem de Trabalhos{% endblock %}

{% block body %}
    <h1>Listagem de Trabalhos Voluntários</h1><br>
    <div id="list-container">
        {%for trabalho in trabalhos%}
            <div class="row">
                <div class="col-5">
                    <div>
                        <strong>Instituição:</strong>
                        {{trabalho.instituicao}}
                    </div>
                    <div>
                        <strong>Período</strong>
                        {{trabalho.periodo}}                        
                    </div>
                    <div>
                        <strong>Data</strong>
                        {{trabalho.dataInicio|date('d-m-Y')}} - {{trabalho.dataFim|date('d-m-Y')}}
                    </div>
                    <div>
                        <strong>Email:</strong>
                        {{trabalho.email}}                        
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <a href="{{trabalho.site}}" target="_blank" rel="nofollow">{{trabalho.site}}</a>
                    </div>
                    <div>
                        <strong>Cidade:</strong>
                        {{trabalho.cidade}}
                    </div>
                    <div>
                        <strong>Telefone</strong>
                        {{trabalho.telefone}}
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <strong>Categoria:</strong>
                        {{trabalho.categoria}}
                        
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
{% endblock %}
