{% extends 'base.html.twig' %}

{% block title %}Listagem de Trabalhos{% endblock %}

{% block body %}
    <h1>Listagem de Trabalhos Voluntários</h1><br>
    <div class="filtros">
        <div>
            <h5 data-toggle="collapse" data-target="#camposfiltro" aria-expanded="false" aria-controls="collapseExample">Filtro</h3>
            <hr />
            <form id="camposfiltro" action="{{ path('listagem_trabalho') }}" method="get" class="form-row collapse show align-items-center">
                <div class="col-sm-3 my-1">
                    <span>Cidade</span>
                    <select name="cidade" class="form-control">
                        <option value=""{% if request.cidade is not defined or request.cidade == '' %} selected="selected"{% endif %}> - Selecione - </option>
                        {% for cidade in cidades %}
                            <option value="{{ cidade.cidade }}"{% if request.cidade is defined and request.cidade == cidade.cidade %} selected="selected"{% endif %}>{{ cidade.cidade }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 my-1">
                    <span>Categoria</span>
                    <select name="categoria" class="form-control">
                        <option value=""{% if request.categoria is not defined or request.categoria == '' %} selected="selected"{% endif %}> - Selecione - </option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.categoria }}"{% if request.categoria is defined and request.categoria == categoria.categoria %} selected="selected"{% endif %}>{{ categoria.categoria }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 my-1">
                    <span>Data</span>
                    <input type="date" name="data" class="form-control" value="{{ request.data }}" />
                </div>
                <div class="col-sm-3 my-1">
                    <span>Texto</span>
                    <input type="text" name="texto" class="form-control" value="{{ request.texto }}" />
                </div>
                <div class="col-auto my-1 text-right">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div id="list-container">
        {%for trabalho in trabalhos%}
            <div class="block-trabalho">
                <div class="row">
                    <div class="col-sm-4">
                        <div>
                            <strong>Instituição:</strong>
                            {{trabalho.instituicao}}
                        </div>
                        <div>
                            <strong>Período:</strong>
                            {{trabalho.periodo}}
                        </div>
                        <div>
                            <strong>Data:</strong>
                            <small>de</small> {{trabalho.dataInicio|date('d/m/Y')}} <small>até</small><br> {{trabalho.dataFim|date('d/m/Y')}}
                        </div>                        
                    </div>
                    <div class="col-sm-5">
                        <div>
                            <a href="{{trabalho.site}}" target="_blank" rel="nofollow">{{trabalho.site}}</a>
                        </div>
                        <div>
                            <strong>Cidade:</strong>
                            {{trabalho.cidade}}
                        </div>
                        <div>
                            <strong>Email:</strong>
                            <a href="mailto:{{trabalho.email}}" target="_blank" rel="nofollow">{{trabalho.email}}</a>
                        </div>
                        
                    </div>
                    <div class="col-sm-3">
                        <div>
                            <strong>Categoria:</strong>
                            {{trabalho.categoria}}                            
                        </div>
                        <div>
                            <strong>Tel:</strong>
                            {{trabalho.telefone}}
                        </div>
                    </div>
                </div>
                <div>{{trabalho.descricao}}</div>
            </div>
        {%endfor%}
    </div>
{% endblock %}