{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="filtros">
        <div>
            <form action="{{ path('listagem_trabalho') }}" method="get" class="row">
                <div class="col-2">
                    <span>Cidade</span>
                    <select name="cidade">
                        <option value=""{% if request.cidade is not defined or request.cidade == '' %} selected="selected"{% endif %}> - Selecione - </option>
                        {% for cidade in cidades %}
                            <option value="{{ cidade.cidade }}"{% if request.cidade is defined and request.cidade == cidade.cidade %} selected="selected"{% endif %}>{{ cidade.cidade }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <span>Categoria</span>
                    <select name="categoria">
                        <option value=""{% if request.categoria is not defined or request.categoria == '' %} selected="selected"{% endif %}> - Selecione - </option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.categoria }}"{% if request.categoria is defined and request.categoria == categoria.categoria %} selected="selected"{% endif %}>{{ categoria.categoria }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <span>Data</span>

                </div>
                <div class="col-3">
                    <span>Texto</span>
                    <input type="text" name="texto" value="{{ request.texto }}" />
                </div>
                <div class="col-3">
                    <button type="submit">Filtrar</button>
                </div>
            </form>
        </div>
    <div>
        {%for trabalho in trabalhos%}
            <div class="row">
                <div class="col-3">
                    <div>
                        <span>Instituição:</span>
                        {{trabalho.instituicao}}
                    </div>
                    <div>
                        <span>Categoria:</span>
                        {{trabalho.categoria}}
                    </div>
                    <div>
                        <span>Data</span>
                        {{trabalho.dataInicio|date('d-m-Y')}} - {{trabalho.dataFim|date('d-m-Y')}}
                    </div>
                    <div>
                        <span>Período</span>
                        {{trabalho.periodo}}
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <span>Site:</span>
                        {{trabalho.site}}
                    </div>
                    <div>
                        <span>Cidade:</span>
                        {{trabalho.cidade}}
                    </div>
                    <div>
                        <span>Telefone</span>
                        {{trabalho.telefone}}
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <span>Email:</span>
                        {{trabalho.email}}
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
{% endblock %}
