{% set current_path = app.request.get('_route') %}
<div id="header">
    <div class="navbar justify-content-between" style="margin-bottom:10px">
        <a href="{{ path('home') }}"><img src="/images/evoluntario-logo.png" /></a>
        {% if app.user %}
            <div class="text-right">
                <span style="color:#666">Seja bem-vindo(a), <em>username</em><br />
                <a href="/logout">Encerrar sessão</a></span>
            </div>
        {% endif %}
    </div>
    <div class="bgmenu">
        <ul class="nav justify-content-end" style="margin:0">
            <li class="nav-item">
                <a class="nav-link {{ current_path == 'home' ? 'active' }}" href="{{ path('home') }}">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ current_path == 'listagem_trabalho' ? 'active' }}" href="{{ path('listagem_trabalho') }}">Lista de Trabalhos</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link {{ current_path == 'admin_trabalho_cadastro' ? 'active' }}" href="{{ path('admin_trabalho_cadastro') }}" rel="nofollow">Cadastrar Trabalho</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {{ current_path == 'fos_user_security_login' ? 'active' }}" href="{{ path('fos_user_security_login') }}" rel="nofollow">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>